/*Z-indexs:
2- .headerProfile (foto header)
3- .profilePicture
3- .editButton (para abrir el modal de editar)

Los z index 2 y 3 estan en profile.css

4-.editUserForm (el form de edicion)
*/
/* Edit user formulario */

/*Edit user form display*/
.editUserForm,
.editBox,
.glassmorphism {
    display: flex;
}

.closeEditUser {
    position: absolute;
    z-index: 6;
    top: 25vh;
    left: 16vw;
}

.editUserForm {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* .containerDataForm {
    position: absolute;
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
    El z-index es importante en la vista profile para que ande todo, si necesitan subirlo subanlo pero no lo bajen 
    z-index: 5;
    background-color: rgba(78, 78, 78, 0.868);
    backdrop-filter: blur(5px); 
} */

.profileForm {
    position: absolute;
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
    background-color: rgb(15, 213, 213);
    width: 70vw;
    height: 55vh;
    flex-direction: column;
    z-index: 5;
}

.containerDataForm img {
    width: 20px;
    height: 20px;
}

.editBox {
    flex-direction: column;
    padding: 10px;
    margin: 15px;
}

.editBox input {
    border-radius: 10px;
    border: none;
    margin: 15px;
}

/*Profile pop-up*/

.glassmorphism {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(62, 62, 62, 0.886);
}