/*Z-indexs:
2- .profilePictureContainer
3- .editButton
4-.editUserForm
*/

/* General profile */
.profileView {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Profile info */

/*Profile info display*/
.profileInfo, .profilePictureContainer, .userStats, .upperInfoProfile  {
    display: flex;
}

.profileInfo {
    width: 80vw;
    flex-direction: column;
    border-radius: 50px;
    background-color: rgb(202, 26, 26);
    margin: 5px;
}

.profilePictureContainer{
    width: 80vw; 
    height: 500px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.272);
    position: absolute;
    z-index: 2; 
}
.headerProfile {
    width: 80vw; 
    height: 250px;
    border-radius: 50px 50px 0 0;
    object-fit: cover;
    filter: blur(2px);
}

.profilePicture {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 30px;
    margin: 0px 0px 0px 40px;
}

.infoContainer {
    border-radius: 0 0 50px 50px;
    height: 250px;
    background-color: rgb(184, 184, 184);
}

.infoContainer p {
    font-size: 30px;
}

.userStats p {
    margin: 5px;
}

.upperInfoProfile {
    margin: 0 70px 0 200px;
    align-items: center;
    justify-content: space-between;
    /* background-color: cadetblue; */
}

.profileDescription {
    margin: 40px 60px 0px 40px;
    /* background-color: coral;  */
}
.editButton{
    display: flex;
    position: absolute;
    z-index: 3;
    right: 1.5vw;
}