/* CONTAINER PRINCIPAL TIENE EL FONDO DEGRADADO */
.containerOne{
 background: linear-gradient(180deg, #d400ff 0%, #33fff4 100%);    width: 100%;
 width: 100vw;
 height: 100vh;
 overflow: hidden;
}

/* ESTE CONTAINER CONTIENE TODO EL CONTENIDO LO ALINEAMOS EN EL MEDIO */
.containerTwo{
 display: flex;
 flex-direction: column;
 width: 100%;
 height: 50%;
 margin-top: 50px;
}

.containerTree{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.containerFour{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerimg{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 100%;
    /* background-color: gold; */
}

/* CLASSNAME PARA DARLE MEDIDAS A LA IMAGEN */
.imgrobot{
 width: 80%;
 height: 100%;  
}

/* MODIFICAMOS TODOS LOS H1 QUE UTILIZAMOS */
h1{
 color: wheat;
 font-size: 35px;
 text-shadow: 4px 4px 2px rgb(0, 0, 0);
}

/* MODIFICAMOS TODOS LOS H2 */
h2{
 font-size: 30px;
 color: white;
 text-shadow: 4px 4px 2px rgb(0, 0, 0);

}

/* CLASE PARA EL BOTON QUE REGRESA AL INICIO */
.botonone{
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.botonone:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.botonone:active {
	position:relative;
	top:1px;
}


/* media query */

@media (max-width: 768px){
    .containerTree{
    flex-direction: column;
    }

    .containerFour{
    
    }

    .hh1{
        display: flex;
        color: rgb(226, 0, 0);
        justify-content: center;
    }

    .hh2{
        color: rgb(215, 0, 0);
        /* font-family: 'Times New Roman', Times, serif; */
    }
}
