@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');



.all-cont {
  box-sizing: border-box;
  background-image: url("../img/Fondo-login.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}


.container-login {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}


.title {
  font-weight: bold;
  margin-bottom: 40px;
}

.help-comment {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.coment {
  font-size: 12px;
}

.reload-paswword {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}


.form-login {
  display: flex;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
}


.input-login {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.input-login:focus {
  outline: none
}

.btn {
  border-radius: 20px;
  border: 1px solid #A938F9;
  background-color: #A938F9;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: none;
}

.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}


.container.right-panel-active .register {
  transform: translateX(100%);
}

.login {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.register {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .login {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}


.cont-front {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .cont-front {
  transform: translateX(-100%);
}

.front {
  background: linear-gradient(to right, #F94C84, #A938F9);
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .front {
  transform: translateX(50%);
}

.front-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.front-left {
  transform: translateX(-20%);
}

.container.right-panel-active .front-left {
  transform: translateX(0);
}

.front-right {
  right: 0;
  transform: translateX(1);
}

.container.right-panel-active .front-right {
  transform: translateX(20%);
}