* {
    Margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }



/* Admin nav */
.boxAdmin{
    background-image: url('https://i.pinimg.com/564x/d8/28/f8/d828f885f149b4b8c6332791eba18386.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
   
    height: 100vh;
    
}

.navAdmin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    position: sticky;
    top:0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.768);
}

.colorAdminNav{
    color: aliceblue;
}

.backgroundNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    width: 90%;
    align-items: center;
   
}




.actions{
    text-align: center;
    width: 200px;
    font-size: 23px;
    padding: 10px;
}

.boxUserTitle li {
    text-align: start;
}

.boxUser{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 50px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 
}

.logoAdmin{
    width: 200px;
    height: 150px;
    padding: 10px;

}

.logoAdmin:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.cardsAdmin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.idAdminCard{
    background-color: rgb(29, 29, 29);
    color: aliceblue;
    width: 350px;
    height: 30px;
    text-align: center;
    border-radius: 25px;
}

.name1{
    width: 200px;
    text-align: start;
    padding: 10px;
    font-size: 25px;
}

.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    text-align: start;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}


.boxBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.iconEdit{
    fill:currentColor;
    color: white;
}



.btnAction{
    width: 120px;
    height: 36px;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    text-decoration: none;
    color:black;
    border:1px solid blanchedalmond;
    margin:15px;
    font-weight: 500;
}





.btnAction:hover{
    background-color: rgba(0, 0, 0, 0.634);
    color: beige;
    font-weight: bold;
    border: none;
}

.usersAdmin{
    padding: 5px;
    margin-left: 20px;
    width: 70px;
}


.boxAddUser{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    background-color:none;
    width: 700px;
}

.boxAddMain{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 300px;
}

.inputAdmin{
    border-radius: 8px;
    height: 30px;
    margin: 5px;
} 


.labelAdmin{
    font-size: 20px;
    font-weight: bold;
}

.btnAddUser{
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    padding: 10px;
    
}

.btnUpdate{
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    padding: 10px;
   
}



.editarUser{
    font-size: 20px;
    font-weight: none;
}



.btnCancel{
    color: white;
}



/* iconos */



.colorAddAdmin{
    fill:currentColor;
    color: white;
    cursor: pointer;
  }

  .colorAddAdmin:hover{
    color:rgb(249, 158, 51);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }


/*   form */

.boxFormEdit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(73, 71, 71, 0.426);
    background-image: url('./assets/5501757.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   

}

.formEdit{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    height: 400px;
    width: 300px;
    border: 2px solid black;
    border-radius: 30px;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.passwordNone{
    display: none;
}

.inputEdit{
    height: 50px;
    width: 250px;
    margin-top: 10px;
    border-radius: 30px;
  
}

.labelEdit{
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnUpdateEdit{
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid black;
    width: 200px;
    padding: 10px;
}

.pSidebar{
    text-decoration: none;
}

.btnReturnHome{
    border: 2px solid black;
    width: 200px;
    height: 35px;
}

.boxBtnReturn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.btnReturnHome:hover{
    
    background-color: azure;
}
