* {
    Margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }



/* Admin nav */
.boxAdmin{
    background-image: url('https://i.pinimg.com/564x/17/3c/21/173c21b00a7ed05813919828e18b73b9.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.navAdmin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    color: aliceblue;
    position: sticky;
    top:0;
    z-index: 999;
    background-color: black;
}

.backgroundNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;
   
}



.boxUser1{
    width: 100%;
    background-color: rgb(127, 91, 229);
  }

.actions{
    text-align: center;
    width: 200px;
    font-size: 23px;
    padding: 10px;
}

.boxUserTitle li {
    text-align: start;
}

.boxUser{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.cardsAdmin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.idAdminCard{
    background-color: black;
    color: aliceblue;
    width: 350px;
    height: 30px;
    text-align: center;
}

.name1{
    width: 200px;
    text-align: start;
    padding: 10px;
    font-size: 25px;
}

.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    text-align: start;
    padding: 10px;
}


.boxBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.iconEdit{
    fill:currentColor;
    color: aliceblue;
}


.btnAction{
    width: 120px;
    height: 36px;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    text-decoration: none;
    color:black
}





.btnAction:hover{
    background-color: black;
    color: beige;
    font-weight: bold;
}

.usersAdmin{
    padding: 5px;
    margin-left: 20px;
}


.boxAddUser{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    background-color:none;
    width: 700px;
}

.boxAddMain{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 300px;
}

.inputAdmin{
    border-radius: 8px;
    height: 30px;
    margin: 5px;
} 


.labelAdmin{
    font-size: 20px;
    font-weight: bold;
}

.btnAddUser{
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    padding: 10px;
    
}

.btnUpdate{
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    padding: 10px;
   
}



.editarUser{
    font-size: 20px;
    font-weight: none;
}



.btnCancel{
    color: white;
}

.logoAdmin{
    width: 250px;
    height: 190px;
}

/* iconos */



.colorAddAdmin{
    fill:currentColor;
    color: white;
    cursor: pointer;
  }

  .colorAddAdmin:hover{
    color:rgb(249, 158, 51);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
