/* Edit user formulario */

/*Edit user form display*/
.editUserForm,
.editBox,
.glassmorphism {
    display: flex;
}

.closeEditUser {
    position: absolute;
    z-index: 6;
    top: 20vh;
    right: 16vw;
}

.editUserForm {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 98.85vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.profileForm {
    position: absolute;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(235, 235, 235);
    width: 70vw;
    height: 65vh;
    flex-direction: column;
    z-index: 5;
}

.containerDataForm img {
    width: 20px;
    height: 20px;
}

.editBox {
    flex-direction: column;
    padding: 10px;
    margin: 15px;
}

.editBox input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 15px;
}
.editUserForm input[type='submit']{
  display: flex;
  justify-content: center;
  font-size: 17px;
  padding: 5px;
  color: white;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  width: 100px;
  border-radius: 15px;
  height: 40px;
  margin: 40px 0 0 0;
}

.glassmorphism {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 98.85vw;
    height: 100vh;
    z-index: 4;
    background: linear-gradient(to right, #0f0c29b6, #24243eba);
}