/*Z-indexs:
2- .headerProfile (foto header)
3- .profilePicture
3- .editButton (para abrir el modal de editar)
4-.editUserForm (el form de edicion, esta en popUpForm.css)
*/

/* General profile */
.profileView {
    display: flex;
    justify-content: center;
    background: url(https://cdn.dribbble.com/users/4361436/screenshots/16114143/media/9ceefe68cd0be3489227684daa781ba4.png?compress=1&resize=1000x750&vertical=top) no-repeat;
    background-position: center;
    background-size: cover;

}

/* Profile info */

/*Profile info display*/
.profileInfo,
.profilePictureContainer,
.userStats,
.upperInfoProfile {
    display: flex;
}

.profileInfo {
    width: 80vw;
    height: 500px;
    flex-direction: column;
    border-radius: 50px;
    margin: 20px;
}

.profilePictureContainer {
    width: 80vw;
    height: 500px;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.272); */
    position: absolute;
}

.headerProfile {
    width: 80vw;
    height: 250px;
    border-radius: 50px 50px 0 0;
    object-fit: cover;
    filter: blur(2px);
    z-index: 2;
}

.profilePicture {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 30px;
    margin: 0px 0px 0px 40px;
    z-index: 3;
}

.infoContainer {
    border-radius: 0 0 50px 50px;
    height: 250px;
    background-color: rgb(184, 184, 184);
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.40);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.infoContainer p,
.profileInfoEdit input[type='text'],
.profileInfoEdit textarea {
    font-size: 30px;
}

.userStats p {
    margin: 5px;
}

.upperInfoProfile {
    margin: 15px 70px 0 200px;
    align-items: center;
    justify-content: space-between;
}

.profileDescription {
    margin: 40px 60px 0px 40px;
}

.editButton {
    display: flex;
    width: 25px;
    height: 25px;
    margin: 5px;
    position: absolute;
    z-index: 3;
    right: 1.5vw;
}

.configureButton svg,
.editButton {
    color: goldenrod;
}

.editButtons {
    display: flex;
}

.configureButton {
    display: flex;
    position: absolute;
    right: 4vw;
    z-index: 3;
}

/* Edit view */

.profileInfoEdit .profileDescription {
    width: 73vw;
    height: 150px;
}

.profilePicEdit {
    display: flex;
    flex-direction: column;
    padding: 10px;
    filter: opacity(1);
    backdrop-filter: blur(2px);
    background: url(https://images.unsplash.com/photo-1544723795-3fb6469f5b39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=389&q=80) no-repeat;
    background-position: center;
    background-size: cover;
}

.headerEdit {
    background: url(https://images.unsplash.com/photo-1633596683562-4a47eb4983c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80) no-repeat;
    background-size: cover;
    background-position: center;
}

.profileInfoEdit textarea,
.profileInfoEdit input[type='text'] {
    display: flex;
    z-index: 5;
}

.profileInfoEdit textarea,
.profileInfoEdit input[type='text'],
.profileInfoEdit textarea:focus,
.profileInfoEdit input[type='text']:focus {
    border: none;
    background: none;
    outline: none;
}

.profileInfoEdit textarea {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    ;
}


/*Media queries*/

@media (max-width: 1200px) {

    .infoContainer p,
    .profileInfoEdit input[type='text'],
    .profileInfoEdit textarea {
        font-size: 25px;
    }
}

@media (min-width: 991px) {
    .upperInfoProfile {
        justify-content: space-between;
    }
}

@media (max-width: 990px) {
    .upperInfoProfile {
        justify-content: center;
    }

    .upperInfoProfile p {
        padding: 10px;
    }

    .profileDescription,
    .profileInfoEdit textarea {
        font-size: 20px;
    }
}

@media (max-width: 700px) {

    .profileDescription,
    .profileInfoEdit textarea {
        font-size: 15px;
    }
}