.boxHome{
  background-image: url('https://i.pinimg.com/564x/4a/e1/1f/4ae11f1ec8d486bb31a0e13e7aa55ddc.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 
 
}

.container-Home{
    display:flex;
    width: 100%;

 
   justify-content: space-around;

}
ul{
  list-style: none;
  padding: 0;
  
 }
 
/* ---------------container Menu------------------- */
.container-Menu{
    width:20%;
  height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-top: 20px;
 gap: 30px;
 border-right:1px solid grey;
 position: sticky;
 top: 0;

 
}
.sidebar{
    width:80%;
    height: 400px;
    border-radius: 30px;
    
    display: flex;
    font-weight: 700;
    justify-content: center;

    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  

    
}
.sidebar ul{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align:center;
  
  
}

.ulSidebar{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align:center;
  height: 500px;
  
}

.liSidebar{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill:currentColor;
  
  
}

.liSidebar:hover{
  color: goldenrod;
  padding: 10px;
}

/* ------------------------button effect ------------------------------ */

.liEffect {
  --c: goldenrod;
  color: var(--c);
  font-size: 16px;
  
  border-radius: 0.5em;
  width: auto;
  height:50px;
  text-transform: uppercase;
  line-height: 3em;
  text-align: center;
 
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 4px;
}

.liEffect .spanEffect {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

 .liEffect:hover {
  color: black;
  
}

.liEffect:hover .spanEffect {
  transform: translateY(0) scale(2);
  border: 0.3em solid var(--c);
}

.liEffect .spanEffect:nth-child(1) {
  --n: 1;
}

.liEffect .spanEffect:nth-child(2) {
  --n: 2;
}

.liEffect .spanEffect:nth-child(3) {
  --n: 3;
}

.liEffect .spanEffect:nth-child(4) {
  --n: 4;
}



/* -------------------------- button effect session ------------------------ */
.btnEffectSession {
  display: flex;
  margin-left: 15px;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
 }
 
 .btnEffectSession svg {
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
 }
 
 .btnEffectSession .spanSession {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
 }
 
 .btnEffectSession:hover svg {
  transform: translateX(5px) rotate(90deg);
 }
 
  .btnEffectSession:hover .spanSession {
  transform: translateX(7px);
 }

.profile{
  width: 90%;
  display: flex;
  padding-left: 60px; 
 
}
.imgProfile{
  width: 70px;
  height: 70px;
  border-radius: 30px;
  background-color: blueviolet;
}
.userProfile{
  margin-top: 10px;
  margin-left:10px;
}
/* ------------------Container Posts--------------- */
.container-Posts{
    width: 78%;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.boxPost{
  width:80%;
  min-height: 150px;
  border-radius: 40px;
 
  display: flex;
 flex-direction: column;
 margin-left: 10px;
 margin-top: 20px;
 padding: 10px;
 background: rgba( 255, 255, 255, 0.25 );
 box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
 backdrop-filter: blur( 4px );
 -webkit-backdrop-filter: blur( 4px );
 border-radius: 15px;
 border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.textPost{
  width: 80%;
  min-height: 80px;
  border-radius: 20px;
background-color:rgba(241, 241, 241, 0.863);
 margin-left:40px;
 margin-top: 10px;
 background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.textPost p{
text-align: start;
margin-left:20px ;
}
.boxProfilePost{
width: 20%;
display: flex;
margin-left: 30px;

}
.boxImgProfile{
  width: 45px;
  height: 45px;
  border-radius: 15px;
  background-color: blueviolet;
}
.userPost{
  margin-left:5px;
}
.boxReactions{
  padding-top: 10px;
  width: 400px;
 
  align-self: center;
  display: flex;
  justify-content: space-around;
 
}
.boxReactions img{
  width: 15px;
  height: 15px;
  cursor: pointer;
}
/* --------------BtnPosting----------------------- */
.btnPosting{
 
  height: 100px;
  display: flex;
  align-items: center;
  margin-left: 15px;
}
/*  .btnPostingChildren{
  width: 120px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;

} */

/* btn postear */
.btnPost1 {
  font-family: inherit;
  font-size: 20px;
  background: goldenrod;
  color: white;
  padding: 10px;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
 }
 
 .btnPost1 .spanPost {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
 }
 
 .btnPost1 .imgBtnPost {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
 }
 
 .btnPost1:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
 }
 
 .btnPost1:hover .imgBtnPost {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
 }
 
 .btnPost1:hover .spanPost {
  transform: translateX(5em);
 }
 
 .btnPost1:active {
  transform: scale(0.95);
 }
 
 @keyframes fly-1 {
  from {
   transform: translateY(0.1em);
  }
 
  to {
   transform: translateY(-0.1em);
  }
 }
 

.imgBtnPost{
  width: 25px;
  height: 25px;
}
/* -----------  WritePost-------------------------- */
.container-filterWritePost{
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;

position:fixed;
top: 0px;
right: 0px;
z-index: 2;
backdrop-filter: blur(3px);
background: rgb(0, 0, 0.8);

}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .container-filterWritePost {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.075);  
  }
  .warning {
    display: none;
  }
}
.container-WritePost{
  width: 50%;
 height: 190px;
 max-height: 250px;
 gap:5px;
  background-color: #fff;
  border-radius: 40px;
  margin-top: 150px;
  padding-left:40px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  box-shadow: 0px 2px 47px 2px rgba(0,0,0,0.75);
  z-index: 2;
}
.container-WritePost input{
  width: 70%;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
}
.formWritePost{
  display: flex;
  flex-direction: column;

 
}
.btnsFormWritePost{
  width: 60%;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding-right: 50px;
}
.btnSendWritePost {
  width:110px;
  height: 30px;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 15px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
 }

 .btnResetPost{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30px ;
  height: 30px;
  font-size: 15px;
  padding: 8px;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  border-radius: 10px;
 }

 .btnResetPost:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
 }

 .btnCloseWritePost{
  width:30px ;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  padding: 8px;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  border-radius: 10px;
 }

 .btnCloseWritePost:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
 }
 
 .btnSendWritePost svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
 }
 
 .btnSendWritePost span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
 }
 
 .btnSendWritePost:hover svg {
  transform: translateX(5px) rotate(90deg);
 }
 
 .btnSendWritePost:hover span {
  transform: translateX(7px);
 }
/* ------------box comentarios abre----------------------- */
.boxComments{
width: 35%;
min-height: 80px;
border-radius: 40px;
align-self:center;
padding-top: 15px;
display: flex;
flex-direction: column;
margin-top: 5px;
margin-bottom: 1px;
background: rgba(167, 167, 167, 0.1);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );

border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.boxComments ul{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.boxComments li{
  width: 80%;
min-height: 40px;
display: flex;
 border-radius: 25px;
background-color: #fff;
}
.boxComment{
width: 80% ;
min-height: 40px;
display: flex;
justify-content: space-evenly;
}

.btnComment{
  border: 2px solid white;
  border-radius: 15px;
  padding: 5px;
}

.btnComment:hover{
  background-color:#ad5389;
  color: #0f0c29;
}

.imgUserComment{
  width: 11%;
  height: 35px;
  border-radius: 10px;
}
.formComment{
  align-self: center;
 
}

.btnComment{
  border: 2px solid white;
  border-radius: 15px;
  color: #fff;
  padding: 3px;
  margin-top: 3px;
}
  

