.container-Home{
  display:flex;
  width: auto;
  background-color:rgb(116, 14, 160);
  overflow: hidden;
  }
  
  /* 1 COMENTAMOS EL COLOR VIOLETA 
  Y LE AGREGAMOS OTRO PARA ORIENTARNOS DE LO QUE CONTIENE LA PAGINA */
  
  ul{
    list-style: none;
    padding: 0;
   }
   
  /* ---------------container Menu------------------- */
  .container-Menu{
   width:20%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 20px;
   gap: 30px;
   border-right:1px solid grey;
   position: sticky;
   top: 0;
  }
  /* 2 VAMOS A EMPEZAR CON EL BOTON CERRAR
  SESION DE LA IZQUIERDA */
  .sidebar{
      width:90%;
      height: 450px;
      border-radius: 30px;
      display: flex;
      font-weight: 700;
      justify-content: center;
      background: rgba(167, 167, 167, 0.1);
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 2.5px );
      -webkit-backdrop-filter: blur( 2.5px );
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      overflow: hidden;
      
  }
  .sidebar ul{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align:center;
  }
  
  .ulSidebar{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align:center;
  }
  
  .liSidebar{
   /* background-color: green; */
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill:currentColor;
  }
  
  .liSidebar:hover{
    color: goldenrod;
    padding: 10px;
  }
  
  /* ------------------------button effect ------------------------------ */
  
  .liEffect {
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border-radius: 0.5em;
    width: 100%;
    height: 3em;
    text-transform: uppercase;
    line-height: 3em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin-top:30px ;
    /* background-color: green; */
  
  }
  
  .liEffect .spanEffect {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
  }
  
   .liEffect:hover {
    color: black;
    
  }
  
  .liEffect:hover .spanEffect {
    transform: translateY(0) scale(2);
    border: 0.3em solid var(--c);
  }
  
  .liEffect .spanEffect:nth-child(1) {
    --n: 1;
  }
  
  .liEffect .spanEffect:nth-child(2) {
    --n: 2;
  }
  
  .liEffect .spanEffect:nth-child(3) {
    --n: 3;
  }
  
  .liEffect .spanEffect:nth-child(4) {
    --n: 4;
  }
  
  /* -------------------------- button effect session ------------------------ */
  
  .btnEffectSession {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
    margin-bottom: 20px;
   }
   
   .btnEffectSession svg {
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
   }
   
   .btnEffectSession .spanSession {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
   }
   
   .btnEffectSession:hover svg {
    transform: translateX(5px) rotate(90deg);
   }
   
    .btnEffectSession:hover .spanSession {
    transform: translateX(7px);
   }
  
  .profile{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    overflow: hidden;
    gap: 20px;
  }
  .imgProfile{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    background-color: blueviolet;
  }
  .userProfile{
    width: 100%;
    text-align: center;
  }
  
  /* ------------------Container Post--------------- */
  
  .container-Posts{
    width: 80%;
  }
  
  .boxPost{
   width:80%;
   border-radius: 40px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 10px;
   margin-top: 20px;
   padding: 10px;
   background: rgba(167, 167, 167, 0.1);
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 2.5px );
   -webkit-backdrop-filter: blur( 2.5px );
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   overflow: hidden;
  }
  
  .textPost{
   width: 80%;
   min-height: 80px;
   border-radius: 20px;
   background-color:#fff;
   margin-top: 10px;
  }
  
  .textPost p{
  text-align: start;
  margin-left:20px ;
  }
  
  .boxProfilePost{
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: center;
  }
  
  .boxImgProfile{
    width: 45px;
    height: 45px;
    border-radius: 15px;
    background-color: blueviolet;
  }
  
  .userPost{
    margin-left:5px;
  }
  
  .boxReactions{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .boxReactions img{
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  
  .btnPosting{
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  
   .btnPostingChildren{
    width: 120px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
  }
  
  .imgBtnPost{
    width: 15px;
    height: 15px;
  }
  
  /* ------------box comentarios abre----------------------- */
  
  .boxComments{
  text-align: center;
  margin-left: 10px;
  width: 80%;
  min-height: 80px;
  border-radius: 40px;
  align-self:center;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 1px;
  background: rgba(167, 167, 167, 0.1);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  .boxComments ul{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  }
  
  .boxComments li{
  display: flex;
  justify-content: center;
  width: 80%;
  min-height: 40px;
  display: flex;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  }
  
  .boxComment{
  align-items: center;
  flex-direction: column;
  width: 80% ;
  min-height: 40px;
  display: flex;
  justify-content: space-evenly;
  }
  
  .imgUserComment{
  width: 15%;
  height: 35%;
  border-radius: 10px;
  }
  
  .inputComment{
    align-self: center;
  }
  
  /* MEDIA QUERY*/
  
  @media (max-width: 425px) {
    .profile{
    display: flex;
    flex-direction: column;
    }
  
    .imgProfile{
    width: 100%;
    }
  
    .userProfile{
    width: 100%;
    background-color: rgb(0, 17, 171);
    margin-top: 10px; 
    margin-left:10px; 
    display: none;
    }
  }
  
  
  /* efecto botones menu */
  
  
  .liEffectdos {
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border-radius: 0.5em;
    width: 100%;
    height: 3em;
    text-transform: uppercase;
    line-height: 3em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    /* margin: 1em; */
    /* background-color: aqua; */
  }
  .liEffectdos:hover{
    color:black;
  }
  
  
  .liSidebardos{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill:currentColor;
  }
  
  
  /* MEDIA QUERY 2 APARECE NUEVO PERFIL*/
  
  @media (min-width: 376px) {
  .userProfileDos{
    background-color: rgb(90, 181, 0);
    display: none;
  }
  }
  
  @media (min-width: 380px) {
    .userProfileDos{
      background-color: rgb(90, 181, 0);
      display: none;
    }
    }
  
  
  /*  -------------desaparecen los textos--- */
    @media (max-width: 766px) {
      .liEffect {
        background-color: #ad5389;
        --c: goldenrod;
        color: var(--c);
        font-size: 16px;
        border-radius: 0.5em;
        width: auto;
        height: 3em;
        text-transform: uppercase;
        line-height: 3em;
        text-align: center;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: 0.5s;
        margin: 1em;
      }
      
      
      .liSidebar{
        background-color: aqua;
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        fill:currentColor;
        display: none;
      }
      }
  
      /* aprecen los iconos */
  
      @media (min-width: 766px) {
        .liEffectdos {
          /* background-color: #ad5389; */
          --c: goldenrod;
          color: var(--c);
          font-size: 16px;
          border-radius: 0.5em;
          width: auto;
          height: 3em;
          text-transform: uppercase;
          line-height: 3em;
          text-align: center;
          position: relative;
          overflow: hidden;
          z-index: 1;
          transition: 0.5s;
          margin: 1em;
          display: none;
        }
        
        
        .liSidebardos{
          /* background-color: aqua; */
          display: flex;
          flex-direction:row;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          fill:currentColor;
          display: none;
        }
  
      
        }
  
  
        /* boton exit */
        .btnEffectSessiondos {
          width: 100%;
          justify-content: center;
          display: flex;
          align-items: center;
          font-family: inherit;
          font-weight: 500;
          font-size: 17px;
          height: 100%;
          /* padding: 0.8em 1.3em 0.8em 0.9em; */
          color: white;
          /* background: #ad5389;
          background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
          border: none; */
          /* letter-spacing: 0.05em; */
          /* border-radius: 16px;
          margin-bottom: 20px; */
          /* background-color: aqua; */
          margin-bottom: 40px;
         }
  
         .btnEffectSessiondos:hover{
      
          color: red;
        }
  
  
  
  
         /* MEDIA QUERY */
  
         @media (min-width: 766px) {
          .btnEffectSessiondos {
            width: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            font-family: inherit;
            font-weight: 500;
            font-size: 17px;
            padding: 0.8em 1.3em 0.8em 0.9em;
            color: white;
            background: #ad5389;
            background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
            border: none;
            letter-spacing: 0.05em;
            border-radius: 16px;
            margin-bottom: 20px;
            display: none;
           }
         }
  
  
         /* query desaparece */
  
         @media (max-width: 766px) {
          .btnEffectSession {
            width: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            font-family: inherit;
            font-weight: 500;
            font-size: 17px;
            padding: 0.8em 1.3em 0.8em 0.9em;
            color: white;
            background: #ad5389;
            background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
            border: none;
            letter-spacing: 0.05em;
            border-radius: 16px;
            margin-bottom: 20px;
            display: none;
           }
        }